.App {
  text-align: center;
  background-color: #F5F5F5;
  color: #465775;
  padding-left: 25pt;
  padding-right: 25pt;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 24pt;
}
