.questions {
    padding: 3vh 0;
    text-align: left;
}

.tag-container{
    display: none;
}

.correct, .incorrect {
    background: blue ! important;
}

.static {
    position: static;
    text-align: left;
}

label {
    position: initial;
}